/* universal selector reset */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--primary-color2);
}

h1 {
  font-size: 3.5rem;
  margin: 16px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center !important;
  font-weight: bold;
}

/* landing page container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.hide {
  display: none;
  overflow: hidden;
}

/* questions */

.questionTitle,
.mood-question {
  font-size: 10rem;
  margin: 0 auto;
  text-align: center;
}

/* option buttons */

.options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  margin-top: 64px;
}

.btn {
  border-radius: 50%;
}

button {
  padding: 5px 20px;
  font-size: 3rem;
  border-radius: 20%;
  border: 1px solid gray;
  background-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

button:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

button:active {
  box-shadow: inset 1px 1px 10px #333;
}

.img-fluid {
  width: 190px;
  height: 190px;
}

.save-icon {
  width: 100px;
  height: 100px;
}

/*testing drink buttons with images*/

.wrap-btns {
  gap: 32px;
  margin-top: 64px;
}

.drink-button,
.food-button,
.save-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.drink-button img,
.meal-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
}

.results-container {
  display: flex !important;
  justify-content: center !important;
  width: 100vw !important;
  gap: 32px;
  flex-wrap: wrap;
}

/* results cards */

.card {
  border-radius: 20px;
  margin-bottom: 64px;
  font-family: Georgia, sans-serif;
}

img {
  padding: 20px;
}

.card-img-top {
  object-fit: cover;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  font-weight: bold;
  font-size: 14px;
  padding: 0 20px;
}

p {
  font-size: 16px;
  padding: 0 20px;
  margin-top: 12px;
  margin-bottom: 28px !important;
}
